/******Header bottom line********/
.header {
  border-bottom: 2px solid #911E2D;
}


.contact-intro {
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.contact-intro h1 {
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 5%;
}

.contact-intro h2 {
  font-size: 1.2em;
  font-weight: 500;
}

.contact-intro p {
  padding: 0 20%;
  margin-top: 2em;
}

/****** Line break style *********/
.form-intro-wrapper {
  position: relative;
}

.contact-intro h2::after {
  content: "";
  background: #911E2D;
  position: absolute;
  display: block;
  height: 1.5px;
  width: 20%;
  left: 40%;
  bottom: -.9em;
}


/***********************************************************
* Form  Section
************************************************************/
.contact-form {
  background: #656565;
  border-radius: 15px;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  width: 65%;
  margin: auto;
  margin-bottom: 3em;
  justify-content: flex-end;
}

.contact-form label {
  color: #F3F3F3;
  width: 100%;
  padding: 5px 0;

}

.contact-form input {
  width: 100%;
  color: #434343;
  padding: 3px 5px;
}

.contact-form textarea {
  padding: 3px 5px;
  font-family: "Roboto", Verdana, Arial, sans-serif;
  width: 100%;
  overflow: hidden;
}

#form-submit-btn {
  margin: 10px 0;
  padding: 5px 8px;
  border-radius: 5px;
  border-style: solid;
  color: #555;
  font-weight: 500;
  font-size: 1em;
  font-family: "Roboto", Verdana, Arial, sans-serif;
  background-color: #EEE;
}

/***********************************************************
* Form submitted modal
************************************************************/

.submit-modal-wrapper {
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  height: 80%;
  z-index: 12;
  transform: translate(-50%, -50%);
}

.submit-modal {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border: 3px solid #555;
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
  z-index: 13;
}

.submit-modal p {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.social-media {
  display: flex;
  flex-flow: row wrap;
  border-top: 1px solid #911E2D;
}

.social-media a {
  margin-left: auto;
  margin-right: auto;
}

.modal-close {
  width: 80%;
  background: #EEE;
  border-width: medium;
  border-color: #44000F77;
  border-style: solid;
  border-radius: 5px;
  color: #44000F;
  font-size: 1.1em;
  font-weight: 600;
  padding: 9px 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;

}


.modal-overlay {
  background-color: #65656599;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.show-modal {

}

/***********************************************************
* Media Queries
************************************************************/

@media screen and (min-width: 700px) {
  .contact-form {
    font-size: 1.1em;
  }
  .contact-form input {
    font-size: 1.1em;
  }
  .contact-form textarea {
    font-size: 1.1em;
  }
}

/***********************************************************
* Media Query for large screens
************************************************************/

@media screen and (min-width: 1100px) {
  .main-contact {
    display: flex;
    align-items: center;
    padding: 5px 15%;
  }
  .contact-intro {
    margin-top: 0;
    width: 50%;
  }
  .contact-form-section {
    width: 50%;
  }
  .contact-form {
    margin-top: 3em;
    max-width: 100%;
  }
}
