/*******************************************************
* Main Section
************************************************************/

/**********Heading styling and break lines************/

.legal-hero {
  width: 100vw;
  margin-bottom: 2em;
}

.legal-section-hdr-tag {
  padding: 20px 0;
}

.legal-section-hdr h1{
  font-size: 1.2em;
}

.legal-section-hdr {
  position: relative;
  text-align: center;
}

.legal-section-hdr::before, .legal-section-hdr::after {
  content: "";
  background: #911E2D;
  position: absolute;
  display: block;
  height: .1em;
  width: 80%;
  left: 10%;
}

.legal-section-hdr::before {
  top: -.4em;
}

.legal-section-hdr::after {
  bottom: -.4em;
}

/********paragraph styling *************/
.legal-hero h2, .credit-hero h2 {
  text-align: center;
}

.legal-hero h3, .credit-hero h3 {
  text-align: center;
}

.legal-hero p {
   padding: 0 15% 10px 15%;
}

.credit-hero p {
  padding: 0 10% 10px 10%;
}

.legal-hero ol {
  padding: 0 15% 10px 15%;
}

.legal-hero a, .credit-hero a {
  color: #656565;
}

.credit-link a {
  color: #EEE;
  background-color: #656565;
  text-decoration: none;
  border-radius: 8px;
  border-bottom: 5px solid #555;
  text-shadow: 0px -2px #555;
  padding: 10px;
}


.credit-link {
  display: flex;
  justify-content: center;
}

/***********************************************************
* Media Queries
************************************************************/

@media screen and (min-width: 700px) {
  .legal-section-hdr::before, .legal-section-hdr::after {
    height: 2px;
    width: 40%;
    left: 30%;
  }
  .legal-section-hdr::before {
    top: -10px;
  }

  .legal-section-hdr::after {
    bottom: -10px;
  }
  .legal-hero p {
    padding: 0 20% 10px 20%;
  }
}

/***********************************************************
* Media Query for large screens
************************************************************/

@media screen and (min-width: 1100px) {
  .legal-section-hdr::before, .legal-section-hdr::after {
    height: 2.5px;
    width: 30%;
    left: 35%;
  }
  .legal-section-hdr::before {
    top: -11px;
  }

  .legal-section-hdr::after {
    bottom: -10px;
  }
  .legal-hero p {
    padding: 0 30% 10px 30%;
  }
}
