/*
Colors:
  Dark maroon: #44000F
  Maroon: #911E2D
  Gold: #E49533
  Dark Gray: #2e2e2e
  Off white: #F3F3F3
  Text light gray: #737373
  Text dark gray: #656565
  Button Color: #EEE


*/



body {
  margin: 0;
  font-family: "Roboto", Verdana, Arial, sans-serif;
  color: #737373;
}

/***********************************************************
*  Header
************************************************************/

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 160px;
  padding: 10px 12px;
}

.logo-img {
  width: 100%;
}

.mobile-menu-icon {
  width: 40px;

}

/***********************************************************
** Creating the hamburger menu
************************************************************/

.hamburger-menu {
  background: #fff;
  border: 0;
  width: 0;
  height: 40px;
  padding: 7px 33px;
  box-sizing: content-box;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.hamburger {
  top: 50%;
  left: 0;
  right: 0;
  height: 0.2em;
  width: 2em;
  position: absolute;
  display: block;
  background: #44000F;
  margin: auto;
  transform: translateY(-50%);
  transition: all .3s;

}

.hamburger::before, .hamburger::after {
   left: 0;
   height: 0.2em;
   width: 100%;
   position: absolute;
   display: block;
   background: #44000F;
   content: "";
   transition-duration: .3s, 0.3s;
 }

.hamburger::before {
  top: -.5em;
  transition-property: top, transform;

  }

  .hamburger::after {
    bottom: -.5em;
    transition-property: bottom, transform;
    }

/***********************************************************
** Hamburger Menu Icon Transition
************************************************************/

  /*  .hammburger-menu {
      z-index: 2;
      width: 50px;
      height: 40px;
      position: absolute;
      left: 0;
      opacity: 0;
      margin: auto;
    }*/

    .hamburger.hamburger-close {
      background: 0;
    }

    .hamburger-close.hamburger::before {
      top: 0;
      transform: rotate(45deg);
    }

    .hamburger-close.hamburger::after {
      bottom: 0;
      transform: rotate(-45deg);
    }



/***********************************************************
* Mobile Navigation Top Menu
************************************************************/
.main-nav {
}

.mobile-menu {
  color: #F3F3F3;
  font-size: 1.4em;
  box-sizing: content-box;
  width: 100%;
  opacity: 1;
}

.mobile-menu-list {
  list-style-type: none;
  background: #44000F;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 2.5em;
  left: 0;
  padding-inline-start: 0;
  margin: 0;
  z-index: 1;
}

.mobile-menu-item {
  padding: 10px;
  border-bottom: 1px solid #E49533;
  text-align: center;
}

.mobile-menu-item a {
  text-decoration: none;
  color: #F3F3F3;

}

.mobile-menu-item:last-child {
  border-bottom: none;
}

.submenu-wrapper {
  display: flex;
}

.mobile-services-menu {
  background: #44000F;
  color: #F3F3F3;
  font-size: 1em;

}

.mobile-services-menu-list {
  list-style-type: none;
  background: #44000F;
  color: #F3F3F3;
  padding: 0;
  position: absolute;
  width: 100%;
  padding-inline-start: 0;
  top: 0;
  left: 0;
  text-align: center;

}
 .back-link {
   padding: 0 10px;
 }

 .back-arrow {
 }

.mobile-services-menu-item {
  padding: 10px;
  border-bottom: 1px solid #E49533;
}

.mobile-services-menu-item:last-child {
  border-bottom: none;
}


.mobile-services-menu-item a {
  text-decoration: none;
  color: #F3F3F3;

}

.hidden {
  opacity: 0;
  backface-visibility: hidden;
  display: none;
}

.show-submenu {
  display: block;
  opacity: 1;
}

/***********************************************************
* Main Section
************************************************************/

/***********************************************************
* Hero Section
************************************************************/
.hero {
  width: 100%;
  margin-bottom: 2em;
}

.hero-img {
  width: 100%;
}

.hero p {
  padding: 5px 25px;
  margin-bottom: 1px;
  font-size: 1.8em;
  font-weight: 300;

}

.hero span {
  padding: 5px 10%;
  display: flex;
  justify-content: flex-end;
}

.hero a {
  color: #656565;
  font-weight: 440;
  font-size: 1.2em;
}

/***********************************************************
* Services Section
************************************************************/
.services-section-hdr-tag {
  padding: 20px 0;
  text-align: center;
}

/**********Heading break lines************/

.services-section-hdr {
  text-align: center;
  width: 50%;
  border-top: 1.5px solid #911E2D;
  border-bottom: 1.5px solid #911E2D;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
}

.services-section-hdr a {
  color: #676767;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 550;
}

.service-homepage {
  display: flex;
  align-items: center;
}

.service-homepage a {
  width: 45%
}

.service-item-img {
  width: 100%;
}

.service-text-group {
  width: 55%;
  padding: 4%;
  display: flex;
  flex-flow: row wrap;
}

.service-text-group h1 {
  color: #676767;
  margin: .4em 0;
  font-weight: 500;
  font-size: 1.22em;

}

.service-text-group p {
  color: #737373;
  margin: auto;
  font-weight: 400;

}

.homepage-learn-more {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.homepage-learn-more a {
  color: #656565;
  padding: 5% 5px 5px 5px;
  font-weight: 490;
  margin-left: auto;
  width: 100%;
  text-align: right;
}

#prj-mgt-hm-pg a {
  order: 1;
}

/***********************************************************
* Trailing Info Paragraph
************************************************************/
.trailing-info {
  padding: 5% 8vw 10px 8vw;
  font-size: 1.5em;
}

/**********Paragraph break lines************/

.trailing-info p {
  position: relative;
}

.trailing-info::before, .trailing-info::after {
  content: "";
  background: #911E2D;
  position: absolute;
  display: block;
  height: .1em;
  width: 50%;
  left: 25%;
}


/***********************************************************
* Contact tag
************************************************************/

.contact-tag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 10px 8px 8px;
}

.contact-tag p {
  padding: 2px 5%;
  font-weight: 500;
  font-size: .8em;
  width: 50%;
  text-align: center;

}

.contact-btn {
  width: 30%;
  text-align: left;
}

.contact-tag a {
  background: #EEE;
  border-color: #EBEBEB;
  border-style: solid;
  border-radius: 5px;
  color: #44000F;
  font-size: 1.1em;
  font-weight: 600;
  padding: 9px 5px;
  text-decoration: none;
}

/***********************************************************
* Footer
************************************************************/
.main-footer-nav-list {
  background: #44000F;
  color: #F3F3F3;
  padding: 10px 10px;
  margin: 0;
  position: relative;
}

.ftr-company-name {
  font-size: 1.3em;
  padding: 10px 5px;
}

.ftr-company-name a {
  text-decoration: none;
  color: #F3F3F3;
}

.ftr-company-name::after {
  content: "";
  background: #E49533;
  position: absolute;
  display: block;
  height: 1px;
  width: 1.8em;
  left: 25px;
  margin: 10px 0;
}

.main-footer-nav-items {
  padding: 5px 5px 10px 5px;
  position: static;
  margin: 5px 0 0 0;
  font-size: 1.1em;
}

.lg-screen-footer {
  display: none;
}

.main-footer-nav-item {
  list-style-type: none;
  padding: 3px 5px;
}

.main-footer-nav-item a {
  text-decoration: none;
  color: #F3F3F3;

}

.legal-nav-list {
  background: #2e2e2e;
  color: #F9F9F9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: 300;
  font-size: .8em;
  padding: 10px 0;
  border-top: 2px solid #E49533;
  margin: 0;
  padding-inline-start: 0;

}

.legal-nav-item {
  list-style-type: none;
}

.legal-nav-item a {
  text-decoration: none;
  color: #F3F3F3;
}

/***********************************************************
* Media Query for Medium Screen
************************************************************/

@media screen and (min-width: 700px) {
  /***Header***/
  .logo {
    max-width: 200px;
  }
  .hamburger-menu {
    height: 44px;
    padding: 7px 38px;
  }
  /***Services Section***/
  .services-section-hdr {
    border-top: 2px solid #911E2D;
    border-bottom: 2px solid #911E2D;
    width: 35%;
  }
  .services-section-hdr a {
    font-size: 1.4em;
  }
  .service-homepage a {
    width: 35%;
    padding: 0 5%;
  }

  .service-text-group h1 {
    font-size: 1.3em;
  }
  .homepage-learn-more a {
    padding-top: 2%;
    width: 100%;
  }
  /***trailing info line breaks***/
  .trailing-info::before, .trailing-info::after {
    height: .15em;
  }
  /**Contact button**/
  .contact-tag p {
    font-size: 1.1em;
  }
  .contact-btn {
    font-size: 1.2em;
  }
  /***Footer***/
  .lg-screen-services {
    position: absolute;
    left: 65%;
    bottom: 65%;
    font-size: 1.3em;
    font-weight: 500;
  }

  .lg-screen-footer {
    position: absolute;
    left: 67%;
    bottom: 10%; /*15% with projects*/
    display: block;
    font-size: 1em;
  }
  .main-footer-nav-items {
    padding-left: 16%;
    padding-bottom: 15px;
  }
  .ftr-company-name {
    font-size: 1.4em;
    font-weight: 500;
    padding: 3% 5px 0 14%;
  }
  .ftr-company-name::after {
    display: none;
  }
  .vertical-ftr-line {
    border-left: 2px solid #E49533;
    position: absolute;
    left: 51%;
    bottom: 17%; /*18% with projects*/
    height: 90px; /*100px with projects*/
  }
  .legal-nav-list {
    justify-content: center;
  }
  .legal-nav-item {
    padding: 0 2%;
  }
  .legal-nav-item:first-child {
    border-right: 1px solid white;

  }
  .legal-nav-item:last-child {
    border-left: 1px solid white;
  }
}

/***********************************************************
* Media Query for large screens
************************************************************/


@media screen and (min-width: 1100px) {
  /***Header***/
  .header {
    border-bottom: 4px solid #911E2D;
  }
  .hamburger-menu {
    display: none;
  }
  .large-screen-menu {
    display: block;
    opacity: 1;
    font-size: x-large;
    font-weight: 500;
  }
  .mobile-menu-list {
    background: none;
    padding: 20px;
    right: 0;
    left: inherit;
    top: inherit;
    display: flex;
    justify-content: space-evenly;
    width: 45%;
  }
  .mobile-menu-item {
    padding: 0;
    border-bottom: none;
  }
  .mobile-menu-item:first-child {
    display: none;
  }
  .mobile-menu-item a {
    color: #44000F;
  }
  /**Hero Section**/
  .hero {
    position: relative;
    display: grid;
    grid-template-columns: [c1] 70% [c2] 25% [c3] 5% [c4];
    grid-template-rows: [r1] 65% [r2] 25% [r3] 10% [r4];
  }
  .hero img {
    width: 100%;
    display: block;
    grid-column: c1/c4;
    grid-row: r1/r4;
  }
  .hero p {
    color: #fff;
    font-weight: 500;
    position: absolute;
    grid-column: c2/c3;
    grid-row: r2/r3;
    align-self: end;
    padding-bottom: 10px;
    text-shadow:
      -5px -5px 20px #000,
      5px -5px 20px #000,
      -5px 5px 20px #000,
      5px 5px 20px #000,
      0 5px 20px #000;
  }
  .hero a {
    background: rgba(050, 050, 050, 0.75);
    color: #fff;
    font-weight: 500;
    position: absolute;
    grid-column: c2/c3;
    grid-row: r3/r4;
    margin-right: 25px;
    justify-self: right;
    /*text-shadow:
      -2px -2px 3px #000,
      2px -2px 3px #000,
      -2px 2px 3px #000,
      2px 2px 3px #000;*/
    font-size: 1.4em;
    border: 1px solid #000;
    text-decoration: none;
  }
  .hero span {
    padding: 5px 10px;

  }
  /***Services Section***/
  .services-section-hdr {
    border-top: 2.5px solid #911E2D;
    border-bottom: 2.5px solid #911E2D;
    width: 25%;
  }
  /***Service Boxes***/
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-evenly;
  }
  .service-homepage {
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
  }
  .service-homepage a {
    width: 75%;
  }
  .service-text-group {
    width: 90%;
    padding-left: 20%;
    padding-right: 20%;
  }
  #prj-mgt-hm-pg a {
    order: 0;
  }
  .service-text-group h1{
    margin-left: auto;
    margin-right: auto;
  }


  /***Trailing Info***/
  .trailing-info {
    padding: 5% 30vw 10px 30vw;
  }
  .trailing-info::before, .trailing-info::after {
    width: 30%;
    left: 33.5%;
  }
  /***Contact Tag***/
  .contact-tag {
    padding: 0 3% 3% 0;
  }
  .contact-tag p {
    width: auto;
    text-align: left;
    padding: 0 20px 0 0;
  }
  .contact-btn {
    width: auto;
    text-align: center;
  }
  /***Footer***/
  .main-footer-nav-list{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .lg-screen-services {
    left: 46%;
    bottom: 65%; /*65% with projects*/
  }
  .lg-screen-footer {
    left: 47.5%;
    bottom: 13%; /*13% with projects*/
  }
  .main-footer-nav-items {
    padding-left: 13%;
  }
  .main-footer-nav-item {
    padding: 4px 5px;
  }
  .ftr-company-name {
    padding: 1% 5px 0 11%;
  }
  #ftr-contact-item {
    position: absolute;
    left: 82%;
    bottom: 38%; /*40% with projects*/
  }
  #ftr-contact-item a {
    color: #44000F;
    font-weight: 500;
    background-color: #E49533;
    border: 1px solid #EEE;
    padding: 5px 20px;
  }

  .vertical-ftr-line {
    border-left: 2px solid #E49533;
    position: absolute;
    left: 35%;
    bottom: 17%; /*18% with projects*/
    height: 90px; /*100px with projects*/
  }
  .vertical-ftr-line-lg {
    border-left: 2px solid #E49533;
    position: absolute;
    left: 71%;
    bottom: 17%; /*18% with projects*/
    height: 90px; /*100px with projects*/
  }
}
