/***********************************************************
* Hero Section
************************************************************/
.services-hero-img-wrapper {
  position: relative;
  display: inline-block;

}

.services-hero-img {
  width: 100%;
  display: block;
}

.hdg-over-img {
  color: #656565;
  position: absolute;
  top: 45%;
  left: 58%;
  text-shadow:
    -.5px -.5px 0 #FFF,
    .5px -.5px 0 #FFF,
    -.5px .5px 0 #FFF,
    .5px .5px 0 #FFF;
}

/***********************************************************
* Services Section
************************************************************/

.service-overview-pg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.service-overview-pg a {
  width: 100%
}

.service-ovr-item-img {
  width: 100%;
}

.service-ovr-text-group {
  width: 100%;
  padding: 8% 15px;
  display: flex;
  flex-flow: row wrap;
}

.service-ovr-text-group h1 {
  color: #676767;
  margin: .4em auto;
  font-weight: 500;
  font-size: 1.3em;
  text-align: center;
}

.service-ovr-text-group p {
  color: #737373;
  margin: auto;
  font-weight: 400;
  font-size: 1.2em;
  padding: 0 3%;

}

.service-ovr-text-group a {
  color: #656565;
  padding: 5px 5px 5px 60vw;
  font-weight: 440;
}

/***********************************************************
* Contact line break
************************************************************/

.contact-tag {
  margin-top: 20px;
}

.contact-tag::before {
  content: "";
  background: #911E2D;
  position: relative;
  display: block;
  height: .1em;
  width: 52%;
  left: 1%;
  top: -.6em;
}

/***********************************************************
* Media Queries for medium screens
************************************************************/
@media screen and (min-width: 750px){
  .hdg-over-img {
    font-size: 2em;
    top: 60%;
    left: 70%;
    text-shadow:
      -1px -1px 0 #FFF,
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
      1px 1px 0 #FFF;
  }
  }
  .hero p {
    padding: 2% 10%;
  }
  .hero a {
    font-size: 1.3em;
  }
  .service-ovr-text-group {
    padding: 8% 10%;
    font-size: 1.4em;
  }
}
