/*******************************************************
* Hero Section
************************************************************/

/**********Heading styling and break lines************/

.eng-hero {
  width: 100vw;
  margin-bottom: 2em;
}

.eng-section-hdr-tag {
  padding: 20px 0;
}

.eng-section-hdr h1{
  font-size: 1.5em;
}

.eng-section-hdr {
  position: relative;
  text-align: center;
}

.eng-section-hdr::before, .eng-section-hdr::after {
  content: "";
  background: #911E2D;
  position: absolute;
  display: block;
  height: .15em;
  width: 60%;
  left: 20%;
}

.eng-section-hdr::before {
  top: -9px;
}

.eng-section-hdr::after {
  bottom: -10px;
}

/****Project Management header adjustments ******************/
.mgt-section-hdr h1{
  font-size: 1.5em;
}

.mgt-section-hdr {
  position: relative;
  text-align: center;
}

.mgt-section-hdr::before, .mgt-section-hdr::after {
  content: "";
  background: #911E2D;
  position: absolute;
  display: block;
  height: .15em;
  width: 80%;
  left: 10%;
}

.mgt-section-hdr::before {
  top: -9px;
}

.mgt-section-hdr::after {
  bottom: -10px;
}

/*******Styles continued********/

.eng-hero p {
  padding: 0 5%;
  font-size: 1.5em;
  font-weight: 300;
  margin-block-start: 0;
  margin: 0 0 .3em 0;
}

.eng-hero span {
  padding: 0 5px 5px 70vw;
}

.eng-hero a {
  color: #656565;
  font-weight: 550;
}

.eng-hero-img-container {
  display: flex;
  padding: 12% 0 0 0;
}

.img-wrapper-eng {
  width: 50%;
  margin: auto;

}

.eng-hero-img {
  width: 100%;

}


/***********************************************************
* Info Section
************************************************************/


.service-info-section {

}

.service-info-container {
  padding: 2% 5% 3% 5%;
}

.service-info-container h2{
  text-decoration: underline;
  font-size: 1.3em;
  font-weight: 600;
}

.services-offered-container {
  padding: 0 5% 3% 5%;

}

.services-offered-container h2{
  text-decoration: underline;
  font-size: 1.2em;
  font-weight: 600;
}

.services-offered-list {
  width
}

.service-item {
  padding: 3px;
}

.service-item i {
  font-weight: 450;
}

.service-process-container {
  padding: 0 5% 3% 5%;

}

.service-process-container h2{
  text-decoration: underline;
  font-size: 1.3em;
  font-weight: 600;
}


/***********************************************************
* Contact line break
************************************************************/

.contact-tag {
  margin-top: 20px;
}

.contact-tag::before {
  content: "";
  background: #911E2D;
  position: relative;
  display: block;
  height: .1em;
  width: 50%;
  left: 1%;
  top: -.6em;
}


/***********************************************************
* media queries for medium screens
************************************************************/
@media screen and (min-width: 700px) {
  .eng-section-hdr::before, .eng-section-hdr::after {
    height: 2px;
    width: 35%;
    left: 32%;
  }
  .mgt-section-hdr::before, .mgt-section-hdr::after {
    height: 2px;
    width: 50%;
    left: 25%;
  }
  .eng-hero p {
    padding: 2% 20% 1% 20%;
  }
  .eng-hero span {
    padding: 0 5px 5px 65vw;
  }
  .eng-hero-img-container {
    padding-top: 7%;
  }
  .img-wrapper-eng {
    width: 40%;
  }
  /*center services offered section*/
  .services-offered-container h2{
    text-align: center;
  }
  .services-offered-list {
    list-style-position: inside;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .services-offered-list {
    padding: 0 0 0 0;
    text-align: left;

  }
}

/***********************************************************
* Media Query for large screens
************************************************************/


@media screen and (min-width: 1100px) {
  .eng-section-hdr::before, .eng-section-hdr::after {
    height: 2.5px;
    width: 25%;
    left: 37%;
    }
    .mgt-section-hdr::before, .mgt-section-hdr::after {
      height: 2.5px;
      width: 40%;
      left: 30%;
    }
  .eng-hero p {
    padding: 2% 25% 1% 25%;
  }
  .eng-hero span {
    padding: 0 5px 5px 65vw;
  }
  .eng-hero-img-container {
    padding-top: 5%;
  }
  .img-wrapper-eng {
    width: 30%;
  }
  .contact-tag::before {
    width: 62%;
    height: 3px;
  }
  .contact-tag p {
    width: 40%;
    text-align: right;
  }
  .contact-btn {
    width: 30%;
    text-align: left;
    padding-left: 1%;
  }
}
